
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Computer Engineer &amp; Web Developer.</h2>
            <p>
                I want to access the job opportunities that I can transform the knowledge I gained at the university into practice, add value to your company by observing the business environment and create new projects.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="~/Content/assets/img/profile-img.jpg" class="img-fluid" alt=""/>
            </div>


            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" style="float: left; display:block">
                <h3>Informations</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 25 August 1998</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Place of Birth:</strong> Giresun , Turkey</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 21</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.resatkarakaya.com</li>
                            <li><i class="icofont-rounded-right"></i> <strong>City:</strong> İstanbul , Turkey</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Foreign Language:</strong> English</li>
                            <li><i class="icofont-rounded-right"></i> <strong>University:</strong> Karadeniz Technical University</li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                           
                            <li><i class="icofont-rounded-right"></i> <strong>Departman:</strong> Computer Engineering</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> License</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Internship 1:</strong> İtelligence Türkiye – İstanbul Ataşehir 2019</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Reference:</strong> Zeki İlyasoğlu-Itelligence Türkiye(Tel:05386572299  ve Mevki: İş Zekası Grup Yönetici)</li>


                        </ul>
                    </div>
                </div>
            </div>

           