
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="background-image: url(/Content/assets/img/background.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="hero-container" data-aos="fade-in" ">
                <h1>Reşat KARAKAYA</h1>
                <p>I'm a <span class="typed" data-typed-items="Programmer , Student , Gamer"></span></p>
            </div>
        </section>
    </div>

